<!-- <mat-toolbar class="mat-elevation-z5" color="primary">
  <a href="#">Pretty Mat-Toolbar</a>
  <span class="spacer"></span>
  <div class="loginSection">
    <button mat-button>Login</button>
  </div>
</mat-toolbar> -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>MCE CMS</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
