<!-- <p>student-migration works!</p> -->
<div class="container">
  <h2>Student Migration Table</h2>
  <table>
    <thead>
      <tr>
        <th>REG. NO.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
        <th>year</th>
        <th>Semester</th>
        <th>Status</th>
        <th>Marks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
        <td>nitish</td>
        <td>2 sem</td>
        <td>Completed</td>
      </tr>
    </tbody>
  </table>
</div>
