
<div class="feature-module-container d-flex">
  <div class="feature-module-left-container">
    <app-internal-menu></app-internal-menu>
  </div>
  <div class="feature-module-right-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
