<h2>STUDENT ADMISSION FORM</h2>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >First Name</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter First Name"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Last Name</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Last name"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Date Of Birth:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your DOB."
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Age</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your Age"
        />
      </div>
    </div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Identity</label>
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Open this select Identity</option>
        <option value="1">Aadhaar Number</option>
        <option value="2">PAN Number</option>
        <option value="3">Other</option>
      </select>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Identity Proof No.</label
        >
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your Identity No."
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your Email.."
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Contact No</label
        >
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your Contact NO."
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Father's Name</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Your Father's Name"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Occupation</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter your Father Occupation"
        />
      </div>
    </div>
    <div class="col-6">
      <label for="MotherName" class="form-label">Mother's Name</label>
      <input
        type="text"
        class="form-control"
        id="MotherName"
        placeholder="Enter your Mother's Name"
      />
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Occupation</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter your Mather Occupation"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="countryname" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="countryname"
          placeholder="Enter country name"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="religionName" class="form-label">Religion</label>
        <input
          type="text"
          class="form-control"
          id="religionName"
          placeholder="Enter Religion"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="casteName" class="form-label">Caste</label>
        <input
          type="text"
          class="form-control"
          id="casteName"
          placeholder="Enter Caste"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
        <label for="homeaddress" class="form-label">Permanent Address</label>
        <input
          type="text"
          class="form-control"
          id="homeaddress"
          placeholder="street, building no , land mark"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="cityname" class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          id="cityname"
          placeholder="Enter Your City Name"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="statename" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="mb-3">
        <label for="pinCodeNumber" class="form-label">Pin Code</label>
        <input
          type="number"
          class="form-control"
          id="pinCodeNumber"
          placeholder="Enter PinCode"
        />
      </div>
    </div>
    <div class="col-6">
      <div>
        <label for="addmissionNo" class="form-label">Addmission No.</label>
        <input
          type="number"
          class="form-control"
          id="addmissionNo"
          placeholder="Alloted Addmission No."
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        <label for="allotedRollNo" class="form-label">Roll No.</label>
        <input
          type="number"
          class="form-control"
          id="allotedRollNo"
          placeholder="Alloted Roll No."
        />
      </div>
    </div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Course</label>
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Course You Enroll.</option>
        <option value="1">B.Tech</option>
        <option value="2">BCA</option>
        <option value="3">BBA</option>
        <option value="4">B.Com</option>
      </select>
    </div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label"
        >Specialisation Degree</label
      >
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Specialisation Degree</option>
        <option value="1">Civil</option>
        <option value="2">Mech</option>
        <option value="3">CSE</option>
        <option value="4">EEE</option>
      </select>
    </div>

    <input class="btn btn-success col-6" type="submit" value="Submit" />
    <input class="btn btn-danger col-6" type="reset" value="Reset" />
  </div>
</div>
