.main-wapper {
  width: 100%;
  .sidemenu-wrapper {
    border-right: 1px solid #c5c6cdc2;
   min-width: 200px;
    height: 100vh;
    background: #4050b5;
  }
  .side_wrapper{
    width: 100%;
  }
}
