<!-- <ul class="navlist">
  <li>
    <a routerLink="student-addmission">Student Addmision</a>
  </li>
  <li>
    <a routerLink="student-migration">Student Migration</a>
  </li>
  <li>
    <a routerLink="student-migration">Student Table</a>
  </li>
</ul> -->

<section>
  <mat-list class="nav" *ngFor="let route of routeLinks">
    <a
      mat-list-item
      routerLinkActive="active-link"
      class="hover"
      routerLink="{{ route.link }}"
    >
      <span matLine>{{ route.department_name }}</span>
    </a>
  </mat-list>
</section>
