<!-- <div>
  <h2>Submitted Data</h2>
  <table class="table">
    <tr>
      <th>Reg No.</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Gender</th>
      <th>Address</th>
      <th>City</th>
      <th>Pin Code</th>
      <th>State</th>
      <th>Country</th>
      <th>Course Applied For</th>
    </tr>
    <tr *ngFor="let data of studentData">
      <td>{{ data.registration }}</td>
      <td>{{ data.name }}</td>

      <td>{{ data.birthDay }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.mobile }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.city }}</td>
      <td>{{ data.pinCode }}</td>
      <td>{{ data.state }}</td>
      <td>{{ data.country }}</td>
      <td>{{ data.course }}</td>
    </tr>
  </table>
</div> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th>
    </tr>
  </thead>
  <tbody>
    @for (country of countries; track country.name; let i = $index) {
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img
          [src]="
            'https://upload.wikimedia.org/wikipedia/commons/' + country.flag
          "
          [alt]="'The flag of ' + country.name"
          class="me-2"
          style="width: 20px"
        />
        {{ country.name }}
      </td>
      <td>{{ country.area | number }}</td>
      <td>{{ country.population | number }}</td>
    </tr>
    }
  </tbody>
</table>
