// don't forget to add the global styles that are in styles.css

.sidenav {
  width: 250px;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  &:hover {
    cursor: pointer;
  }
}

.nav {
  background-color: #4050b5;

  .active-link {
    background-color: #2f3e94;
    border-right: solid 3px #f44336;
  }
  box-shadow: rgb(187 214 247 / 14%) 0px 2px 8px 0px;
  padding: 0px;

  .hover {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, border, background-color;
  }

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px;

    &:hover {
      cursor: pointer;
      background-color: #2f3e94;
      // border-left: solid 3px #F44336;
    }
    span {
      color: #fafafa;
    }
  }
}
